// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

nav {
  background-color: #fff;
  position: sticky;
  top: 0;
  z-index: 99;
}

/*****************
    Back to top
*****************/
.goTop {
  border-radius: 5px;
  background-color: $black;
  position: fixed;
  width: 45px;
  height: 45px;
  display: block;
  right: 15px;
  bottom: 15px;
  border: none;
  opacity: 0;
  z-index: -1;
  .fa {
    color: white;
    font-size: 22px;
  }
  &:hover {
    background-color: $gold;
    opacity: 1;
  }
}

.isVisible {
  opacity: 1;
  z-index: 4;
  transition: all .2s ease-in;
}

/*****************
  End Back to top
*****************/

/************
Burger start
*************/

.tpl_hamburger svg {height: 40px;width: 60px;}
.tpl_hamburger svg {cursor: pointer;  height: 50px;  transform: translate3d(0px, 0px, 0px);  width: 80px;}
svg:not(:root) {overflow: hidden;}
.tpl_hamburger path.top, .tpl_hamburger path.bottom {
    stroke-dasharray: 240px, 950px;
}
.tpl_hamburger path {
    fill: none; stroke: #000; stroke-dashoffset: 0; stroke-linecap: round; stroke-width: 40px;
    transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25) 0s, stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25) 0s;
}
.tpl_hamburger path.middle {stroke-dasharray: 240px, 240px;}
.tpl_hamburger path {
    fill: none; stroke: #000; stroke-dashoffset: 0; stroke-linecap: round; stroke-width: 40px;
    transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25) 0s, stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25) 0s;
}

.tpl_hamburger.active path.top, .tpl_hamburger.active path.bottom {
    stroke-dashoffset: -650px;
}
.tpl_hamburger path.top, .tpl_hamburger path.bottom {
    stroke-dasharray: 240px, 950px;
}
.tpl_hamburger.active path.middle {
    stroke-dasharray: 1px, 220px;
    stroke-dashoffset: -115px;
}
/************
Burger end
************/

.header-logo {
  background: url(resources/images/banner2.jpg);
  width: 100%;
  height: 0;
  background-repeat: no-repeat;
  background-size: contain;
  padding-top: 60%;
}

.item-section {
  padding: 35px 0px;
}

.item-button {
  border: none;
  margin-right: 5px;
  text-decoration: none;
  border-radius: 15px;
  background: $black;
  color: #fff;
  font-size: 16px;
  padding: 6px 15px;
  transition: all 250ms ease;
  &:hover {
    text-decoration: none;
    background: $gold;
    color: #fff;
    transition: .4s ease-out;
  }
}

.item-button_mod {
  padding: 3px 7px;
  font-size: 15px;
  height: 37px;
}

.goods-list_item__img {
  a {
    img {
          max-width: 100%;
          max-height: 100%;
    }
  }
}
.item-section_link {
  a {
    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
}

.basket-list_item__img {
    img {
      max-width: 100%;
      max-height: 100%;
    }
}

.active {
  color: $gold !important;
}

.my-nav {
  border: 3px solid $black;
  background-color: #FFF;
  li {
    a {
      font-size: 18px;
      font-weight: bold;
      color: $black;
      text-decoration: none;
      &:hover {
        transition: all 250ms ease;
        color: $gold;
      }
     }
  }
}

.cd-cart-trigger,
.cd-cart {
  display: block;
  border: none;
	position: fixed;
  bottom: 48px;
  right: 2px;
	transition: transform .2s;
	transform: translateZ(0);
	will-change: transform;
	.empty & {
		transform: translateY(150px);
	}
}

.cd-cart-trigger {
	z-index: 55;
	height: 72px;
	width: 72px;
	text-indent: 100%;
	color: transparent;
	white-space: nowrap;
  background: url('https://p5w3nlpqmq.csb.app/cd-icons-cart-close.svg') no-repeat 0 0;
}

.basket-wrapper, .basket-end_wrapp {
  z-index: 100;
  position:fixed;
  display:flex;
  align-items:center;
  justify-content:center;
  top:0px;
  left:0px;
  width:100vw;
  height:85vh;

}

.basket, .basket-end {
  z-index: 999;
  background-color: #fff;
  box-shadow: 0 10px 15px rgba(0, 0, 0, .33);
  transition: all .5s ease;
  border-radius: 3%;
}

.basket-list_items {
  height: 150px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.basket-end_text {
  padding: 70px;
}

.basket-end_button {
  text-align: center;
  padding: 30px;
  button {
    margin-right: 5px;
    margin-top: 5px;
  }
}

.form-control {
  width: 100%;
  display: block;
}

.basket-close, .basket-list_item__del-btn {
  button {
    span {
      font-size: 2.5rem;
    }
  }
}

.basket-list_item__del-btn {
  button {
    span {
      font-size: 1.7rem;
    }
  }
}

.close {
  width: 100%;
  text-align: center;
}

.close-modal {
    text-align: right;
    font-size: 38px;
}

@media (max-width: 575px) {
  .item-section_link {
    text-align: center !important;
    height: 200px;
  }
}

.is-active {
  display: flex !important;
}

.btn-basket {
    display: block;
    border: none;
    position: fixed;
    bottom: 0px;
    right: 0px;
    transition: transform 0.2s;
    transform: translateZ(0);
    will-change: transform;
    div {
      position: absolute;
      right: 40px;
      bottom: 100px;
      padding: 0 5px;
      font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
      font-size: 13px;
      font-weight: 700;
      line-height: 15px;
      text-align: right;
      border: 0;
      color: #fff;
      border-radius: 15px;
      box-shadow: 0 0 0 2px #fff;
      background-color: black;
    }
}

.basket-list_item__btn {
  cursor: pointer;
  font-size: 18px;
}

.basket {
  width: 100vh;
}

.popup-wrapper {
  z-index: 100;
  position:fixed;
  display:flex;
  align-items:center;
  justify-content:center;
  top:0px;
  left:0px;
  width:100vw;
  height:85vh;
}

.popup {
  width: 100vh;
  padding: 30px;
  z-index: 999;
  background-color: #fff;
  box-shadow: 0 10px 15px rgba(0, 0, 0, .33);
  transition: all .5s ease;
  border-radius: 3%;
}

.popup_title {
  overflow: hidden;
}

.popup_info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.popup_info-wrap {
  justify-content: space-around;
}

.item-image {
  width: 100%;
}

.goods-list_item__img {
  position: relative;
}

.goods-list_item__img-sale {
  position: absolute;
  background-color: #f40d46;
  border-radius: 40%;
  font-size: 11px;
  line-height: 0.7;
  left: 5px;
  top: 5px;
  color: #fff;
  padding: 8px 20px 7px 20px;
}